@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

.react-flow__node {
  cursor: grab;
  height: auto !important;
  contain: layout style paint;
}

.react-flow__node:active {
  cursor: grabbing;
}

.react-flow__viewport {
  will-change: transform;
}

.react-flow__edge-path {
  cursor: default;
}
